In [ ]:
from dask.distributed import Client, LocalCluster

cluster = LocalCluster(diagnostics_port=None)
client = Client(cluster)
client

In [ ]:
!python -m pip install dask[complete]

In [ ]:
!wget http://eforexcel.com/wp/wp-content/uploads/2020/09/5m-Sales-Records.zip --no-check-certificate

--2021-06-30 03:33:12--  http://eforexcel.com/wp/wp-content/uploads/2020/09/5m-Sales-Records.zip
Resolving eforexcel.com (eforexcel.com)... 162.214.80.24
Connecting to eforexcel.com (eforexcel.com)|162.214.80.24|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 201708941 (192M) [application/zip]
Saving to: ‘5m-Sales-Records.zip’

5m-Sales-Records.zi 100%[===================>] 192.36M  54.0MB/s    in 4.0s

2021-06-30 03:33:16 (48.5 MB/s) - ‘5m-Sales-Records.zip’ saved [201708941/201708941]

In [ ]:
!unzip 5m-Sales-Records.zip

Archive:  5m-Sales-Records.zip
  inflating: 5m Sales Records.csv

In [ ]:
!ls

'5m Sales Records.csv'	 dask-worker-space   millionsongsubset.tar.gz
 5m-Sales-Records.zip	 MillionSongSubset   sample_data

In [ ]:
import pandas as pd
pd_df = pd.read_csv("5m Sales Records.csv")

In [ ]:
pd_df

                               Region  ... Total Profit
0               Australia and Oceania  ...    303126.25
1                              Europe  ...    146264.40
2                       North America  ...      9124.77
3                              Europe  ...     77967.96
4        Middle East and North Africa  ...    622521.93
...                               ...  ...          ...
4999995  Middle East and North Africa  ...    809425.32
4999996                        Europe  ...    179722.40
4999997         Australia and Oceania  ...    324531.36
4999998         Australia and Oceania  ...     49031.34
4999999                        Europe  ...    546536.25

[5000000 rows x 14 columns]

In [ ]:
pd_df.Region.value_counts()

Sub-Saharan Africa                   1297687
Europe                               1296674
Asia                                  729864
Middle East and North Africa          621539
Central America and the Caribbean     540528
Australia and Oceania                 405577
North America                         108131
Name: Region, dtype: int64

In [ ]:
dict_region = {
    "Sub-saharan Africa": 1,
    "Europe":2,
    "Asia":3,
    "Middle East and North Africa":4,
    "Central America and the Caribbean":5,
    "Australia and Oceania":6,
    "North America":7
}

In [ ]:
def slow_code(region_name):
  for k,v in dict_region.items():
    if k == region_name:
      return v
  return None
slow_code("Europe")

2

In [ ]:
import dask.dataframe as dd
dd_df = dd.read_csv("5m Sales Records.csv")

In [ ]:
dd_df.head()

                         Region  Country  ...  Total Cost Total Profit
0         Australia and Oceania    Palau  ...  1260428.96    303126.25
1                        Europe   Poland  ...   296918.60    146264.40
2                 North America   Canada  ...    12062.33      9124.77
3                        Europe  Belarus  ...   137780.16     77967.96
4  Middle East and North Africa     Oman  ...   822931.97    622521.93

[5 rows x 14 columns]

In [ ]:
%%time
# Normal Pandas
pd_df["RegionCode"] = pd_df.Region.map(slow_code)

CPU times: user 3.2 s, sys: 10.5 ms, total: 3.21 s
Wall time: 3.22 s

In [ ]:
pd_df.head()

                         Region  Country  ... Total Profit RegionCode
0         Australia and Oceania    Palau  ...    303126.25        6.0
1                        Europe   Poland  ...    146264.40        2.0
2                 North America   Canada  ...      9124.77        7.0
3                        Europe  Belarus  ...     77967.96        2.0
4  Middle East and North Africa     Oman  ...    622521.93        4.0

[5 rows x 15 columns]

In [ ]:
%%time
# Dask
dd_df = dd_df.assign(RegionCode = dd_df.Region.map(slow_code,meta=(None,int)))

CPU times: user 7.33 ms, sys: 780 µs, total: 8.11 ms
Wall time: 8.69 ms

In [ ]:
dd_df.head()

                         Region  Country  ... Total Profit RegionCode
0         Australia and Oceania    Palau  ...    303126.25        6.0
1                        Europe   Poland  ...    146264.40        2.0
2                 North America   Canada  ...      9124.77        7.0
3                        Europe  Belarus  ...     77967.96        2.0
4  Middle East and North Africa     Oman  ...    622521.93        4.0

[5 rows x 15 columns]